 .u-section-1 {
  background-image: linear-gradient(#b3b3b3, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 561px;
}

.u-section-1 .u-gallery-1 {
  height: 326px;
  grid-gap: 17px 17px;
  width: 557px;
  margin: 37px auto 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 52px auto 60px;
  padding: 10px 7px 10px 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-gallery-1 {
    height: 316px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-1 .u-gallery-1 {
    height: 199px;
    width: 340px;
  }
}